
.t-cell {
  padding-left: 0px;
  padding-right: 0px;
}

.left-border {
  BORDER-left: 1px solid #000000;
}

.bottom-border {
  BORDER-BOTTOM: 1px solid #000000;
}

.top-border {
  border-top: 1px solid #000000;
}
